fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
langchain
langchain-community
langchain-chroma
langchain-google-genai
google-generativeai
chromadb
sentence-transformers
youtube-transcript-api
yt-dlp
faster-whisper
requests
beautifulsoup4
python-multipart
sse-starlette
